@charset "utf-8";
/* ShortHand Properties
---------------------------------------------------------------------------*/

/***	Background	***/

/*	Background properties */
	element {
			background-color: color || #hex || (rgb / % || 0-255);
			background-image:url(URI);
			background-repeat: repeat || repeat-x || repeat-y || no-repeat;
			background-position: X Y || (top||bottom||center) (left||right||center);
			background-attachment: scroll || fixed;
	}
	
/*	Example	*/
	element {
		background:
				#fff
				url(image.png)
				no-repeat
				20px 100px
				fixed;
	}

/*	Defaults	*/
	element {
			background-color: transparent;
			background-image: none;
			background-repeat: repeat;
			background-position: top left;
			background-attachment: scroll;
	}

/***	Font	***/

/*	Font Properties	*/
	element {
			font-style: normal || italic || oblique;
			font-variant:normal || small-caps;
			font-weight: normal || bold || bolder || || lighter || (100-900);
			font-size: (number+unit) || (xx-small - xx-large);
			line-height: normal || (number+unit);
			font-family:name,"more names";
	}
	
/*	Defaults	*/
	element {
			font-style: normal;
			font-variant:normal;
			font-weight: normal;
			font-size: inherit;
			line-height: normal;
			font-family:inherit;
	}
	
/***	Border	***/

/*	Border Properties	*/
	element {
			border-width: number+unit;
			border-style: (numerous);
			border-color: color || #hex || (rgb / % || 0-255);
	}
	
/*	Example	*/
	element {
			border:
			 4px
			 groove
			 linen
	}
	
/***	Margin and Padding	***/

/*	Margin Properties	*/
	element {
			margin-top: number+unit;
			margin-right: number+unit;
			margin-bottom: number+unit;
			margin-left: number+unit;
	}
	
/***	List-Style	***/

/*	list-style properties	*/
	element {
			list-style-type: (numerous);
			list-style-position:inside || outside;
			list-style-image:url(image.png);
	}

/*	Example	*/
	ul li {
			list-style:square inside url(image.png);
	}
	/* in this particular case if image.png is not available
		 then a square will be provided as secondary */	
	
/*	Defaults	*/
	element {
			list-style-type:disc;
			list-style-position:outside;
			list-style-image:none;
	}				