/*	Dropdown Menu for Radio Gladys
 *	From: https://www.redbrickhealth.com/
 */

body{
	background-color: #999999;
}


/*------------------ @globals ------------------*/

ul {
	/*padding-bottom: 15px;*/
}

	ul li {
		background: url(../images/bullet.gif) no-repeat 0 6px;
		padding-left: 20px;
	}
	
		ul li a {
			color: #454545;
		}
		
		ul li a:hover {
			color: #cb0438;
		}
		
		ul ul {
			padding-bottom: 0;
		}
	
.clearboth { clear:both; }
.centered { text-align:center; }


/*------------------ @header (h1, nav, signin, splash) ------------------*/

	/*-- nav --*/
	
	#main-nav {
		float: right;
		height: 38px;
		/*background: url(../images/nav_separator.png) no-repeat 0 0;*/
		margin: 0;
	}
		#main-nav li,
		#main-nav li a {
			display: block;
			float: left;
			line-height: 12px;
		}
		#main-nav li {
			/*background: url(../images/nav_separator.png) no-repeat right 0;*/
			background-color: #dadada;
			padding-left: 0;
			padding-right: 2px;
			height: 34px;
			position: relative;
		}
		#main-nav li a {
			text-decoration: none;
			font-weight: bold;
			color: #787878;
			padding: 11px 25px 11px 25px;
			background: none;
		}
			#main-nav li.active a {
				color: black;
			}
			
		/*-- Dropdowns --*/
		#main-nav li .dropdown {
			display:none;
			position: absolute;
			z-index: 10050;
			width: 160px;
			top: 33px;
			left: 0px;
			overflow: hidden;
			clear: left;
			/*background: url(../images/nav_dropdown_grad.png) no-repeat 2px 0;*/
			padding-top: 1px;
		}
		#main-nav li ul {
			width: 100%;
			/*background: url(../images/nav_dropdown_li.png) repeat-y 0 0;*/
			background: url(../images/nav_dropdown_li_mod.png) repeat-y 0 0;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}		
		#main-nav li:hover .dropdown,
		#main-nav li.over .dropdown {
			display: block;
		}		
		/* FIX: add styling? */
		#main-nav li:hover a,
		#main-nav li.over a {
			color: white;
		}	
		#main-nav li:hover ul li a,
		#main-nav li.over ul li a {
			color: white;
		}
		
		/* get a clean slate for the dropdowns */
		#main-nav li ul li,
		#main-nav li ul li a {
			float:none;
			height: 1%;
			background: none;
			margin: 0;
			padding: 0;
			text-transform: none;
			font-weight: normal;
		}	
		#main-nav li ul li {
			/*padding: 4px 0 6px 8px;*/
			margin:0 5px 0 4px;
			/*background: url(../images/nav_dropdown_sep.gif) repeat-x 0 bottom;*/
			border-bottom: 1px solid #629d07;
		}
			#main-nav li ul li.last { 
				background: none;
				padding-bottom: 4px;
			}
			#main-nav li ul li a {
				font-size: 12px;
				line-height: 12px;
				padding:5px 0 6px 10px;	
				color: #fff;
				font-weight: 800;
			}
			#main-nav li ul li a:hover {
				background-position: left center;
				color: #fff;
				background-color: #629d07;
			}
			#main-nav li .dropdown .bottom {
				background: url(../images/nav_dropdown_bottom_mod.png) no-repeat left top;
				height: 10px;
				line-height:1px;
			}

