/*	Layout e imagen
--------------------------------------------------*/
/*div,table,tr,td,input,label{
	border: 1px #FF0000 dashed;
	}*/
	body{
		background: #000000;
		text-align: center;
		font: 10px Verdana,sans-serif;
	}
	div.fondo{
		background-image: url(../CelParc_JavaScript/images/imagenIII.jpg);
		width: 786px;
		height: 500px;
		margin: 50px auto;
	}
	table.layout{
		position: absolute;
		padding: 0px;
		border: 0px;
		margin: 351px 0px 0px 205px;
		border-collapse: collapse;
		
	}
	*+ html table.layout{
		margin: 350px 0px 0px -183px;
	}
	
/*	Tabla del Formulario
--------------------------------------------------*/	
	table.form{
		border: 0px;
		border-collapse: collapse;
		
	}
		td.firstCol{
			width: 45px;
		}
		td.sndCol{
			width: 80px;
		}
		td.thirdCol{
			width: 80px;
		}
		td.fourthCol{
			width: 130px;
		}
		td,tr{
			padding: 1px;
		}
	form{
		margin: 0px;
		padding: 0px;
		text-align: left;
		font-size: 10px;
		}
		label{
			padding-left: 3px;
			}
		input, textarea, checkbox{
			border: none;
			background-color: #C3D55B;
			font-size: 10px;
		}
		input[type=text], input [type=text]{
			width: 100%;
		}
		input[type=submit]{
			padding: 10px 0px 0px 30px;
			background: none;
			margin-top: 110px;
			color: #FFFFFF;
		}
		*+ html input[type=submit]{
			padding: 10px 0px 0px 20px;
			}	
	a{
		text-decoration: none;
		font-weight: 700;
		color: #000000;
		}
	
	
/*	Gracias
--------------------------------------------------*/		

#gracias div.fondo{
		background-image: url(../CelParc_JavaScript/images/imagenIV.jpg);
		width: 786px;
		height: 500px;
		margin: 50px auto;
		position: relative;
		text-align: center;
		
	}
	#gracias div.centering{
		position: absolute;
		top: 73%;
		left: 18%;
	}
	#gracias h1 {
		font: bold 25px Verdana, Arial, Helvetica, sans-serif;
		color: #FFFFFF;
		}
	
	