/*	Primera Versión:
	JavaScript para cambio de imagen total
	Sin Sprite de menú ni de fondo
--------------------------------------------------*/


/*	Layout 
--------------------------------------------------*/
/*div,table,tr,td,input,label{
	border: 1px #FF0000 dashed;
	}*/
	body{
		padding: 0px;
		margin: 0px;
		text-align: center;
		font: 10px Verdana,sans-serif;
		background-repeat: no-repeat;
		background-position: center 20px;
		width: 1000px;
		height: 690px;
		margin: 0px auto;
		background-color: #FFF;
	}
		body.home {
			background-image: url(../images/000_background.jpg);
		}
		body.parc {
			background-image: url(../images/001_background.jpg);
		}
		body.oficines {
			background-image: url(../images/002_background.jpg);
		}
		body.locals {
			background-image: url(../images/003_background.jpg);
		}
		body.naus {
			background-image: url(../images/004_background.jpg);
		}
		body.altres {
			background-image: url(../images/005_background.jpg);
		}

	#warp {
		position: relative;
		width: 771px;
		left: 192px;
		top: 44px;
	}
	#logo {
		float: left;
		display: block;
	}
	
/*	Menu de navegación
--------------------------------------------------*/
	#navigation img{
		width: 164px;
		height: 344px;
	}

/*	Contenido
--------------------------------------------------*/		
	#content{
		float: right;
		width: 607px;
		height: 585px;
	}
	#header{}
	#sub_header{}
	#main{}