
/*****************************************************
	- Autor: Marcos Iglesias
	- Fecha: 17-12-2009	
	- Referencias:	Craig Erskine, desde http://qrayg.com/experiment/cssmenus/#
	- Proyecto: Librería Estándard Alfa9
	- Función: Dynamic Menu System - Horizontal
*****************************************************/

/*	Reset -	A Eliminar	*/
	* { margin: 0; padding: 0; font-size: 100%; }

/*	Menu	*/
	#navmenu-h { 
		margin: 0; 
		padding: 0; 
		list-style: none; 
		position: relative; 
	}
	#navmenu-h ul { 
		width: 160px; /* Sub Menu Width */ 
		margin: 0; 
		list-style: none; 
		display: none; 
		position: absolute; 
		top: 100%; 				/*Puede Dar problemas, si lo hace, especificar en px*/
		left: 0; 
	}
		#navmenu-h ul li { 
			width: 100%; 
			display: block; 
		} /* Root Menu */
		
	#navmenu-h ul ul,
	#navmenu-h ul ul ul { 
		top: 0; 
		left: 100%; 
	}
	#navmenu-h li { 
		float: left; 
		display: inline; 
		position: relative; 
	}
		 
	#navmenu-h a { 
		border-top: 1px solid #FFF; 	/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		border-right: 1px solid #FFF; 	/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		padding: 6px; 
		float: left; 
		display: block; 
		background: #DDD; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		color: #666; 					/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		font: bold 11px Arial, sans-serif; /*Estilo de Ejemplo - A Eliminar o Cambiar*/
		text-decoration: none; 
		height: 1%; 
	} /* Root Menu Hover Persistence */
		 
	#navmenu-h a:hover,
	#navmenu-h li:hover a,
	#navmenu-h li.iehover a { 
		background: #BBB; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		color: #FFF; 					/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 2nd Menu */ 
		
	#navmenu-h li:hover li a,
	#navmenu-h li.iehover li a { 
		float: none; 
		background: #BBB; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 2nd Menu Hover Persistence */ 
		
	#navmenu-h li:hover li a:hover,
	#navmenu-h li:hover li:hover a,
	#navmenu-h li.iehover li a:hover,
	#navmenu-h li.iehover li.iehover a { 
		background: #999; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 3rd Menu */ 
		
	#navmenu-h li:hover li:hover li a,
	#navmenu-h li.iehover li.iehover li a { 
		background: #999; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 3rd Menu Hover Persistence */
		 
	#navmenu-h li:hover li:hover li a:hover,
	#navmenu-h li:hover li:hover li:hover a,
	#navmenu-h li.iehover li.iehover li a:hover,
	#navmenu-h li.iehover li.iehover li.iehover a { 
		background: #666; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 4th Menu */ 
		
	#navmenu-h li:hover li:hover li:hover li a,
	#navmenu-h li.iehover li.iehover li.iehover li a { 
		background: #666; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* 4th Menu Hover */ 
		
	#navmenu-h li:hover li:hover li:hover li a:hover,
	#navmenu-h li.iehover li.iehover li.iehover li a:hover { 
		background: #333; 				/*Estilo de Ejemplo - A Eliminar o Cambiar*/
		} /* Hover Function - Do Not Move */
		 
	#navmenu-h li:hover ul ul,
	#navmenu-h li:hover ul ul ul,
	#navmenu-h li.iehover ul ul,
	#navmenu-h li.iehover ul ul ul { 
		display: none; 
		}
	
	#navmenu-h li:hover ul,
	#navmenu-h ul li:hover ul,
	#navmenu-h ul ul li:hover ul,
	#navmenu-h li.iehover ul,
	#navmenu-h ul li.iehover ul,
	#navmenu-h ul ul li.iehover ul { 
		display: block; 
		}