@charset "utf-8";
/* CSS Document */

/*	Lista de Imágenes  */
	#mod_programas .bd div {
			display: inline;
			float: left;
			width: 99px;
			margin: 5.5px;
	}
			#mod_programas .bd div p {
					margin-top: 3px;
			}
					#mod_programas .bd div p a{
							color: #888889;
							text-decoration: none;
							font-size: 12px;
					}
					
	#mod_programas .separa{
			margin-top: 7px;
			clear: both;
	}
	
	
/*	Borde Doble	*/
   img.double_border {  
		   border: 1px solid #bbb;  
		   padding: 5px; /*Inner border size*/  
		   background: #ddd; /*Inner border color*/  
   }  