@CHARSET "ISO-8859-1";

/*****************************************************
	- Autor: Marcos Iglesias
	- Fecha: 28-3-2010	
	- Referencias: http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4	
	- Proyecto: CSS Jumpstart
	- Función:	Referencia acerca de Jerarquía en la Tipografía 
*****************************************************/
 
body {
	font: 11px/1.5em "Lucida Grande";
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 218%;
}

h2 {
	font-size: 164%;
}

h3 {
	font-size: 145%;
}

h4 {
	font-size: 118%;
}
