@CHARSET "ISO-8859-1";

/*****************************************************
	- Autor: Marcos Iglesias
	- Fecha: 28-3-2010	
	- Referencias: http://www.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/	
	- Proyecto: CSS Jumpstart
	- Función:	Referencia acerca de Font Stacking
*****************************************************/
 
body {
	/*	Best Font-stacks	*/
	/*	Body Text	*/
	font-family: Baskerville, Times New Roman, Times, serif;
	font-family: Garamond, Hoefler Text, Times New Roman, Times, serif;
	font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	
	/*	Headlines	*/
	font-family:Georgia,Times,"Times New Roman", serif;
	font-family:Palatino Linotype, Hoefler Text, Times, "Times New Roman", serif;
	font-family:Tahoma, Verdana, Geneva;
	font-family:Trebuchet, Tahoma, Arial, sans-serif;
	
	/* Body or Headline	*/
	font-family: Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
	font-family: "Copperplate Light", Copperplate Gothic Light, serif;
	font-family: Futura, Century Gothic, AppleGothic, sans-serif;
	
	/* The Myth of ‘Web-Safe’ Fonts from Safalra.com  */
	/* The ‘wide’ sans serif stack*/
	font-family: Verdana, Geneva, sans-serif;
    /* The ‘narrow’ sans serif stack*/
	font-family: Tahoma, Arial, Helvetica, sans-serif;
    
    /* The ‘wide” serif stack*/
	font-family: Georgia, Utopia, Palatino, "Palatino Linotype", serif;
	/* The ‘narrow’ serif stack*/
	font-family: "Times New Roman", Times, serif;
	
    /* The monospace stack*/
	font-family: "Courier New", Courier, monospace;
}


