<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header id="header">
        <nav class="main-navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <span><i class="glyphicon glyphicon-search"></i></span>
        <input type="search">
        <h2>This is my header.</h2>
    </header>
    <body>
        <h3>This is the body section</h3>
        <section class="Part1">

        </section>
        <section class="Part2">
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
            <a href="#">More Info</a>
        </section>
        <section class="Part3">
            <form>
                <input type="submit">
                <input type="text">
            </form>
        </section>
        <aside>
            <div class="element"></div>
        </aside>
        <figure>
            <label>This is the first image</label>
            <img src="image1.jpg">
            <label>This is the second image</label>
            <img src="image2.jpg">
        </figure>
        <article>
            <p>Lorem ipsum dolor sit amet</p>
        </article>
        <footer>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
            <h5>All Rights Reserved | Exelixis Media, Ltd.</h5>
            <img src="facebook-logo.png">
            <img src="twitter-logo.png">
            <img src="linkedin-logo.png">
        </footer>
    </body>

    <script src="js/scripts.js"></script>
</body>
</html>