
/*****************************************************
	- Autor: Marcos Iglesias
	- Fecha: 17-12-2009	
	- Referencias:	Craig Erskine, desde http://qrayg.com/experiment/cssmenus/#
	- Proyecto: Alfa9 - Drop-Down Menú para Radio Gladys Palmera 
	- Función: Dynamic Menu System - Horizontal 
*****************************************************/
 
 /*	Colores:
  *	Verde claro: #82b60b
  *	Verde oscuro: #629d07
  */

/*-- nav --*/
	#navmenu-h {
		margin: 0; 
		padding:0 4px;
		list-style: none; 
		position: relative; 
		height: 34px;
		width: 677px;
		font-family:verdana,tahoma,arial,sans-serif;
		background: #dadada url(../images/main-nav-bg.gif) repeat-x 0 0;
	}
		#navmenu-h li {
			background: #dadada url(../images/main-nav-bg.gif) repeat-x 0 0;
			padding-left: 0;
			height: 34px;
			float: left; 
			display: inline; 
			position: relative; 
		}
			#navmenu-h li a {
				text-decoration: none;
				font-weight: bold;
				color: #787878;
				padding:9px 2px 13px 16px;
				background: none;
				font-size: 12px;
			}
			#navmenu-h li .main-element2,
			#navmenu-h li:hover .main-element,
			#navmenu-h li.iehover .main-element{
				padding:10px 8px 12px;
				border: 1px solid #629d07;
				margin-top: -2px;
				color: #787878;
				background: #82b60b url(../images/main-nav-hover-bg.gif) repeat-x 0 0;
			}
		#navmenu-h a { 
			float: left; 
			display: block; 
		} 
			
/*-- Dropdowns --*/
		#navmenu-h ul { 
			width: 160px; 
			margin: 0;
			padding: 0; 
			list-style: none; 
			display: none; 
			position: absolute; 
			left: 0; 
			z-index: 10050;
			top: 36px;
			overflow: hidden;
			/*clear: left;*/
		}
		#navmenu-h li:hover ul,
		#navmenu-h li.iehover ul{ 
			display: block; 
		}
			#navmenu-h li ul li,
			#navmenu-h li ul li a {
				text-transform: none;
				font-weight: normal;
				background: none;
			}
			#navmenu-h ul li { 
				width: 100%; 
				display: block; 
				height: 23px;
				border-bottom: 1px solid #629d07;
			} 
				#navmenu-h ul li a{ 
					width: 100%; 
					font-size: 12px;
					line-height: 12px;
					color: #fff;
					padding:5px 0 6px 10px;
				}
				#navmenu-h li:hover li a,
				#navmenu-h li.iehover li a { 
					float: none; 
					color: white;
					background-color: #82b60b;
				} 
				#navmenu-h li ul li a:hover {
					background-position: left center;
					color: #fff;
					background-color: #629d07;
				} 
