@CHARSET "ISO-8859-1";

/*Informacion del Archivo*/
/*****************************************************
	- Autor:
	- Fecha:
	- Referencias:
	- Proyecto:
	- Funcion:
*****************************************************/

/*Indice*/
/*****************************************************
1. HEADER code
2. NAVIGATION code
3. CONTENT code
4. SIDEBAR code
5. FOOTER code
*****************************************************/


/*	---------	Body	-----------------------------*/
	body{
		text-align: center;
	}
/*	---------	Container	-----------------------------*/
	#container{
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

/*	---------	Header	-----------------------------*/

	#header{
		height: px;
		width: px;	
	}


/*	---------	Search	-----------------------------*/
/*	---------	Main-Nav	-----------------------------*/
/*	---------	Sub-Header	-----------------------------*/
/*	---------	Sub-Nav	-----------------------------*/
/*	---------	Sidebar-A	-----------------------------*/
/*	---------	Content	-----------------------------*/
/*	---------	Footer	-----------------------------*/
